<navbar></navbar>
<div class="container">

  <div>
    <div ng-repeat="kms in lp.data.kompetansemaalsett">
      <h2>{{kms.etterfag[0].tittel | pickLanguage:nob}}</h2>
      <div ng-repeat="(omrIndex, omr) in kms.hovedomraader">
        <h3>{{omr.tittel | pickLanguage:nob}}</h3>
        <table class="table table-striped table-nonfluid">
          <tr>
            <th>ID</th>
            <th>Kompetansemål</th>
          </tr>
          <tr ng-repeat="maal in omr.kompetansemaal">
            <td><copy text='maal.kode'></copy></td>
            <td>{{maal.tittel}}</td>
          </tr>
        </table>
      </div>
    </div>

</div>
