node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
dist/
.DS_Store
src/
.bowerrc
.editorconfig
.jshintrc
.yo-rc.json
README.md
bower.json
e2e/
gulp/
gulpfile.js
karma.conf.js
læreplaner.gif
package.json
protractor.conf.js
