<div class="container">

  <div>
    <navbar />
  </div>

  <div>
    <table class="table table-striped table-nonfluid">
      <tr>
        <th>Kode</th>
        <td><copy text="fag.data.kode"></copy></td>
      </tr>
      <tr table-row th="Tittel" td="fag.data.tittel['nob']"></tr>
      <tr table-row ng-if="[fag.data.tittel, fag.data.kortform] | isNotEqual" th="Kortform" td="fag.data.kortform | pickLanguage:nob"></tr>
      <tr table-row th="Fagtype" td="fag.data.fagtype.beskrivelse | pickLanguage:nob"></tr>
      <tr table-row th="Opplæringsnivå" td="fag.data.opplaeringsnivaa.beskrivelse | pickLanguage:nob"></tr>
      <tr table-row th="Sist endret" td="fag.data['sist-endret'] | pickLanguage:nob"></tr>
      <tr table-row th="Status" td="fag.data.status.beskrivelse | pickLanguage:nob"></tr>
      <tr table-row th="Data-url" td="fag.data['url-data']"></tr>
      <tr table-row ng-if="fag.data['omfang-totalt']" th="Omfang totalt" td="fag.data['omfang-totalt']"></tr>
      <tr table-row ng-if="fag.data['omfang-vitnemaal']" th="Omfang vitnemål" td="fag.data['omfang-vitnemaal']"></tr>
      <tr table-row ng-if="fag.data['omfang-brutto']" th="Omfang totalt" td="fag.data['omfang-brutto']"></tr>
      <tr table-row ng-if="fag.data['omfang-kompetansemaalsett']" th="Omfang kompetansemaalsett" td="fag.data['omfang-kompetansemaalsett']"></tr>

    </table>
</div>

</div>
