<navbar></navbar>
<div class="container">

  <div>
    <table class="table table-striped">
      <tr>
        <th>Kode</th>
        <td><copy text="km.data.kode"></copy></td>
      </tr>
      <tr table-row th="Tittel" td="km.data.tittel | pickLanguage:nob"></tr>
      <tr ng-if="km.data.laereplanreferanser.length == 1">
        <th>Læreplan</th>
        <td>
          <a ng-repeat="lp in km.data.laereplanreferanser" href="#/laereplan/{{lp.kode}}">
            {{lp.tittel}} ({{lp.kode}})
          </a>
        </td>
      </tr>
      <tr ng-if="km.data.laereplanreferanser.length > 1">
        <th>Læreplaner</th>
        <td>
          <li ng-repeat="lp in km.data.laereplanreferanser">
            <a href="#/laereplan/{{lp.kode}}">
              {{lp.tittel}} ({{lp.kode}})
            </a>
          </li>
        </td>
      </tr>
      <tr table-row th="Sist endret" td="km.data.sistendret"></tr>
      <tr table-row th="Data-url" td="km.data.urldata"></tr>
    </table>
  </div>

</div>
