<div class="container">

  <div>
    <navbar />
  </div>

  <div>
    <table class="table table-striped">
      <tr>
        <th>Kode</th>
        <td><copy text="km.data.kode"></copy></td>
      </tr>
      <tr>
        <th>Tittel</th>
        <td>{{km.data.tittel | pickLanguage:nob}}</td>
      </tr>
      <tr>
        <th>Sist endret</th>
        <td>{{km.data['sist-endret']}}</td>
      </tr>
      <tr>
        <th>Data url</th>
        <td>
          <a href="{{km.data['url-data']}}">{{km.data['url-data']}}</a>
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{km.data.status.beskrivelse | pickLanguage:default}}</td>
      </tr>
      <tr ng-if="km.data['laereplan-referanser'].length == 1">
        <th>Læreplan</th>
        <td>
          <a ng-repeat="lp in km.data['laereplan-referanser']" href="#/laereplan/{{lp.kode}}">
            {{lp.tittel}} ({{lp.kode}})
          </a>
        </td>
      </tr>
      <tr ng-if="km.data['laereplan-referanser'].length > 1">
        <th>Læreplaner</th>
        <td>
          <li ng-repeat="lp in km.data['laereplan-referanser']">
            <a href="#/laereplan/{{lp.kode}}">
              {{lp.tittel}} ({{lp.kode}})
            </a>
          </li>
        </td>
      </tr>
    </table>
  </div>

</div>
