<navbar></navbar>
<div class="container">

  <div id="main">
    <div class="form-inline search">
      <input type="text" placeholder="Søk" class="form-control" ng-model="main.state.search.query" ng-model-options="{debounce: 200}" tooltip="2 eller flere bokstaver" tooltip-trigger="none" tooltip-is-open="main.state.search.tooltip" ng-focus="main.state.search.tooltip = (main.state.search.query)?false:true" ng-blur="main.state.search.tooltip = false">
    </div>

    <div class="alert alert-info" role="alert" ng-if="main.nothingFound()">
      Fant ingen læreplaner, fag eller kompetansemål med søket <i>{{main.state.search.query}}</i>.
    </div>

    <!-- Læreplaner -->
    <div class="col-lg-4" ng-if="main.state.laereplaner.length">
      <table class="table table-striped">
        <tr>
          <th>
            Læreplan<span ng-if="main.state.laereplaner.length > 1">er</span>
            <span class="badge">{{main.state.laereplaner.length}}</span>
          </th>
        </tr>
        <tr ng-repeat="lp in main.state.laereplaner | orderBy:'Kode'">
          <td><a href="#/laereplan/{{lp.Kode}}" ng-bind-html="lp.Tittel +' ('+ lp.Kode +')' | highlightText:main.state.search.query"></a></td>
        </tr>
      </table>
    </div>
    <!-- Fag -->
    <div class="col-lg-4" ng-if="main.state.fag.length">
      <table class="table table-striped">
        <tr>
          <th>
            Fag
            <span class="badge">{{main.state.fag.length}}</span>
          </th>
        </tr>
        <tr ng-repeat="fag in main.state.fag | orderBy:'Kode'">
          <td><a href="#/fag/{{fag.Kode}}" ng-bind-html="fag.Tittel +' ('+ fag.Kode +')' | highlightText:main.state.search.query"></a></td>
        </tr>
      </table>
    </div>
    <!-- Kompetansemål -->
    <div class="col-lg-4" ng-if="main.state.kompetansemaal.length">
      <table class="table table-striped">
        <tr>
          <th>
            Kompetansemål
            <span class="badge">{{main.state.kompetansemaal.length}}</span>
          </th>
        </tr>
        <tr ng-repeat="maal in main.state.kompetansemaal | orderBy:'Kode'">
          <td><a href="#/kompetansemaal/{{maal.Kode}}" ng-bind-html="maal.Tittel +' ('+ maal.Kode +')' | highlightText:main.state.search.query"></a></td>
        </tr>
      </table>
    </div>
  </div>

</div>
