<div class="container">

  <div>
    <navbar />
  </div>

  <div>
    <div class="form-inline main-soek">
      <input type="text" placeholder="Søk" class="form-control" ng-model="query"></input>
    </div>

    <!-- Kompetansemål -->
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <th>Kompetansemål</th>
        </tr>
        <tr ng-repeat="maal in main.kompetansemaal | orderBy:'Kode'">
          <td><a href="#/kompetansemål/{{maal.Kode}}">{{maal.Tittel}}</a></td>
        </tr>
      </table>
    </div>
    <!-- Fag -->
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <th>Fag</th>
        </tr>
        <tr ng-repeat="fag in main.fag | orderBy:'Kode'">
          <td><a href="#/fag/{{fag.Kode}}">{{fag.Tittel}}</a></td>
        </tr>
      </table>
    </div>
    <!-- Læreplaner -->
    <div class="col-lg-4">
      <table class="table table-striped">
        <tr>
          <th>Læreplan</th>
        </tr>
        <tr ng-repeat="lp in main.laereplaner | orderBy:'Kode'">
          <td><a href="#/læreplan/{{lp.Kode}}">{{lp.Tittel}}</a></td>
        </tr>
      </table>
    </div>
  </div>

</div>
